body {
  font-family: Bahnschrift, sans-serif;
  margin: 0;
  padding: 0;

  background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,1)),
    url("photo/bg.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #f5f5f5;
}

/* Навигация */

header {
  background: #2b1011;
  padding: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 5px 10px;
  padding: 8px 14px;
  background: #6a0000;
  border-radius: 6px;
  transition: all 0.25s ease;
  font-weight: 500;
}

header a:hover {
  background: #a30000;
  transform: translateY(-2px);
}

/* Профиль */

/* Профиль */
.profile {
  position: relative;          /* для псевдоэлемента */
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  background: rgba(20,0,0,0.75);
  backdrop-filter: blur(6px);
  text-align: center;
  
  border-radius: 12px;         /* скругление блока */
  z-index: 1;
}

/* Рамка */
.profile::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;              /* ширина твоей рамки */
  height: 800px;              /* высота рамки */
  transform: translate(-50%, -50%);
  background: url("photo/frame.png") no-repeat center center;
  background-size: cover;
  z-index: 0;                 /* за блоком */
  pointer-events: none;       /* чтобы не мешала кликам */
}

/* Картинка внутри профиля */
.profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px auto;
  border: 3px solid #a30000;
}

.profile h1,
.profile p {
  text-align: center;
}

/* Хобби */

.hobbies {
  margin-top: 35px;
}

.hobbies h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffffff;
}

.hobbies ul {
  list-style: none;
  padding: 0;
}

.hobbies ul li {
  background: #6b0000;
  margin: 8px auto;
  padding: 12px;
  max-width: 420px;
  border-radius: 6px;
  color: #fff;
  transition: 0.25s;
}

.hobbies ul li:hover {
  background: #900000;
  transform: scale(1.03);
}

.hobbies ul li a {
  color: inherit;        
  text-decoration: none; 
  display: block;        }

.hobbies ul li a:hover {
  text-decoration: none; 
}

/* Футер */

footer {
  text-align: center;
  margin: 40px 0;
  color: #c9b0b0;
  font-size: 14px;
}